# Copyright The Linux Foundation and each contributor to LFX.
# SPDX-License-Identifier: MIT
---
extends: default
ignore: |
  .git
  megalinter-reports
  styles
rules:
  line-length:
    max: 120
    level: warning